<!-- <div style="height: 90vh;" [nbSpinner]="loading" nbSpinnerSize="giant" nbSpinnerStatus="primary"></div> -->

<div class="row">
  <div class="col-6">
    <div class="row">
      <div class="col-12">
        <nb-card>
          <nb-card-body>
            <form>
              <div class="outside">
                <input name="characterName" fullWidth nbInput [(ngModel)]="characterName">
                <button nbButton type="submit" (click)="searchByName(characterName)">Search By Name</button>
              </div>
            </form>
          </nb-card-body>
        </nb-card>
      </div>

      <div class="col-12">
        <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="selectRow($event)">
        </ng2-smart-table>
      </div>
    </div>
  </div>

  <div class="col-6" *ngIf="character">
    <nb-card>
      <nb-card-header>
        <h4 class="float-left">{{character.name.first}}</h4>
        <span class="float-right">
          <button nbButton ghost class="nohover" (click)="toggleFavorite(character)" nbTooltip="Favorite">
            <nb-icon pack="eva" [icon]="isFavorite ? 'star' : 'star-outline'"></nb-icon>
          </button>
        </span>
      </nb-card-header>
      <nb-card-body>
          <character class="w-100" [character]="character"></character>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<!-- <nb-card *ngFor="let character of characterList">
  <nb-card-header>{{character.name.first}}</nb-card-header>
  <nb-card-body>
    Faction: {{getFactionName(character.faction_id)}}
    BR: {{character.battle_rank.value}}
    Certs: {{character.certs.available_points}}
  </nb-card-body>
</nb-card> -->
